body {
  font-family: $primary;
  color: color(primary);
  background: color(base);
}

input {
  font-size: type-scale(0);
}

button {
  border: none;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}

a {
  color: color(base);
  font-weight: weight(light);
  text-transform: uppercase;
}
