%menu-icons {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 4px;
  background-color: color(primary);
  border-radius: 2px;
  transition: .35s transform;
  will-change: transform;
}

%home-section-padding {
  padding: type-scale(2) $base-line-height type-scale(3);
}

%home-section-paragraphs {
  font-family: $secondary;
  font-size: type-scale(1);
  line-height: $base-line-height * 1.5;
}
