%menu-icons {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 4px;
  background-color: color(primary);
  border-radius: 2px;
  transition: .35s transform;
  will-change: transform;
}

