%arrow-icon {
  display: inline-block;
  height: type-scale(0);
  width: type-scale(0);
}

%menu-icons {
  display: block;
  position: absolute;
  height: 4px;
  background-color: color(accent);
  border-radius: 2px;
  transition: .35s transform;
  will-change: transform;
}

%home-section-padding {
  padding: type-scale(3) $base-line-height type-scale(4);
}

%home-section-paragraphs {
  font-family: $secondary;
  font-weight: weight(light);
  font-style: italic;
  font-size: type-scale(1);
  line-height: $base-line-height * 1.5;
}

%hide-visually {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px !important;
}
