$break: (
  first: 48em,
  second: 80em
);

$color-key: base !default;

$theme-colors: (
  primary: (
    base: #2A3B4D
  ),
  accent: (
    base: #3498DB
  ),
  secondary: (
    base: #2ECC71
  ),
  tertiary: (
    base: #E74C3C
  ),
  base: (
    base: #F8F8F8,
    dark: #E0E0E0
  )
);

$base-font-size: 1rem;
$base-line-height: $base-font-size * 1.25;

$type-scale: (
  -1: .75rem,
  0: 1rem,
  1: 1.333rem,
  2: 1.777rem,
  3: 2.369rem,
  4: 3.157rem
);

$line-height: (
  -1: $base-line-height,
  0: $base-line-height,
  1: $base-line-height * 2,
  2: $base-line-height * 2,
  3: $base-line-height * 2,
  4: $base-line-height * 3
);

$primary: 'Lato', sans-serif;
$secondary: 'Josefin Slab', serif;

$weight: (
  lighter: 100,
  light: 300,
  regular: 400,
  semibold: 600,
  bold: 700,
  heavy: 900
);
