footer {
  button {
    font-weight: weight(semibold);
    text-transform: uppercase;
    background: none;
  }
}
.scroll-top {
  @include arrow-icon(color(primary));
  .arrow-icon-left {
    @extend %menu-icons;
    left: -12px;
    right: 0;
    bottom: 8px;
    transform: translate(0) rotate(-45deg);
  }
  .arrow-icon-right {
    @extend %menu-icons;
    left: -12px;
    right: 0;
    bottom: 8px;
    transform: translate(12px, 0px) rotate(45deg);
  }
}
