.home-blog {
  background-image: url('/images/blog-earth.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  h2 {
    font-weight: weight(light);
    text-transform: uppercase;
    color: color(tertiary, alt);
    &:before {
      content: url('/images/blog-t.svg');
      display: inline-block;
      width: 26px;
      height: 32px;
      padding-right: type-scale(-1);
    }
  }
  p {
    @extend %home-section-paragraphs;
    color: color(base);
  }
  a {
    @include button-links($border-color: transparent, $background-color: color(tertiary));
    display: inline-block;
  }
}
