.our-buildings {
  background-color: color(base);
  svg {
    fill: color(primary);
  }
  figcaption {
    font-size: type-scale(2);
    font-weight: weight(light);
    color: color(base);
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    p:first-line {
      font-weight: weight(bold);
    }
  }
  h2 {
    font-weight: weight(semibold);
    font-size: type-scale(0);
    text-transform: uppercase;
  }
  h3 {
    font-size: type-scale(-1);
    color: mix(black, color(tertiary), 20%);
    text-transform: uppercase;
  }
}
