.home-hero {
  padding: type-scale(3) $base-line-height;
  color: color(base, base);
  text-transform: uppercase;
  background-image: url("/images/home-hero-solar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  h2 {
    font-size: type-scale(1);
    font-weight: weight(semibold);
    color: white;
    @media screen and (min-width: break(first)) {
      font-size: type-scale(3);
    }
  }
  strong {
    font-weight: weight(heavy);
    color: white;
  }
}
