.menu {
  text-transform: uppercase;
  h1 {
    padding: 18px 15px;
    text-align: left;
    font-family: $secondary;
    font-size: type-scale(-1);
    font-weight: 500;
    font-style: italic;
    color: color(accent);
    line-height: 1;
    &:first-line {
      font-size: 14px;
      font-weight: weight(bold);
    }
  }
}
