footer {
  text-align: center;
  padding: line-height(1) $base-line-height;
  ul {
    margin-bottom: $base-line-height;
    li {
      display: inline-block;
    }
  }
  button {
    min-height: $base-line-height;
    margin-top: $base-line-height * 2;
  }
  .scroll-top {
    display: inline-block;
    height: $base-line-height;
    width: 8px;
    &.to-top {
      .arrow-icon-left {
        opacity: 0;
        transform: scale(.8) translate(0, 8px) rotateZ(-45deg);
        animation: .4s spin;
      }
      .arrow-icon-right {
        opacity: 0;
        transform: scale(.8) translate(14px, 8px) rotateZ(45deg);
        animation: .4s reverse-spin;
      }
      & + p {
        opacity: 0;
        transform: translate(0, 8px);
        animation: .4s drop;
      }
    }
  }
}


@keyframes spin {
  0% {
    opacity: 1;
    transform: scale(1) translate(0) rotateZ(0);
  }
  75% {
    opacity: 1;
    transform: scale(.8) translate(0) rotateZ(-405deg);
  }
  100% {
    opacity: 0;
    transform: scale(.8) translate(0, 8px) rotateZ(-405deg);
  }
}

@keyframes reverse-spin {
  0% {
    opacity: 1;
    transform: scale(1) translate(12px, 0px) rotateZ(0);
  }
  75% {
    opacity: 1;
    transform: scale(.8) translate(14px, 0px) rotateZ(405deg);
  }
  100% {
    opacity: 0;
    transform: scale(.8) translate(14px, 8px) rotateZ(405deg);
  }
}

@keyframes drop {
  0% {
    opacity: 1;
    transform: scale(1) translate(0);
  }
  75% {
    opacity: 1;
    transform: scale(1) translate(0);
  }
  100% {
    opacity: 0;
    transform: scale(.8) translate(0, 8px);
  }
}
