.home-about {
  @extend %home-section-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  svg {
    order: 1;
    width: 48px;
    height: 48px;
  }
  h2 {
    order: 2;
    padding-top: $base-line-height;
  }
  p {
    order: 3;
    padding-top: type-scale(1);
  }
  ul {
    order: 4;
  }
  .button {
    order: 5;
    margin-top: type-scale(1);
  }
}
