main {
  &:before {
    display: none;
    opacity: 0;
  }
  @media screen and (min-width: break(first)) {
    display: flex;
    flex-wrap: wrap;
    &:before {
      content: "";
      display: block;
      position: fixed;
      background: rgba(255,255,255,.3);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      z-index: -1;
      transition: opacity 0.2s ease-in;
      will-change: opacity;
    }
  }
}

body.menu-open {
  main {
    @media screen and (min-width: break(first)) {
      min-height: 100%;
      &:before {
        opacity: 1;
        z-index: 2;
      }
    }
    @media screen and (min-width: break(second)) {
      &:before {
        display: none;
      }
    }
  }
}
